{% extends "layout.html" %}


{% block body %}

<!-- {% load staticfiles%} -->
<!DOCTYPE html>
<html lang="en">


<body>


<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('{% static 'img/about-bg.jpg' %}')">

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <hr class="small">
                     <span class="subheading"><img src="{% static 'img/harfho1.jpg' %}"></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-offset col-md col-md-offset">
                <pre style="color:black;">
                     
<h1>Harfho</h1><strong>
 Computer scientist,
 Lover of any things techs / Digital. 
 @Harfho is versatile,
 creative,love learning,
 and enjoy working with others. 
                            
 #Entrepreneur #Programmer</strong>

<h2>Contact<h2/>
 <a href="https://www.linkedin.com/in/harfho">Linkedin</a>
 <a href="https://www.twitter.com/harfho">Twitter</a>
 <a href="https://www.facebook.com/harfho">Facebook</a>
 <a href="https://www.instagram.com/harfho">Instagram</a></p>
            
<h2>COMPETENCY SKILLS</h2>
 ● Ability to adjust to new and challenging situation.
 ● Ability to solve complex problems in a systematic and logical way.
 ● Ability to integrate new skills.
 ● Ability to work effectively with peoples.
 ● Ability to work as part of a team.
 ● Ability to build relationships.
 ● Ability to be flexible

<h2>Certifications</h2>
● Python 3
● Java Certificate
● Solo learner certificate of Python
● HTML Fundamentals course

<h2>Honors-Awards</h2>
● kahn academy math tutorial

<h2>Publications</h2>
● How to copy contents from wattpad books
                        
<h2>Experience</h2>
● Self employed
● Computer Engineer,
● Computer Programmer,
               
<h2>Education</h2>
● Newton college
    science · (2016 - 2018)
● The wings school
    science · (2013 - 2015)
● courage
    primary  · (2003 - 2011)
</pre>
        </div>
    </div>
</div>

<hr>
 <p class = 'lead' style="background: gold">Click here to know <a href="https://www.linkedin.com/in/harfho">more</a> about me </p>

</body>

</html>
{% endblock body %}