{% extends "layout.html" %}


{% block body %}

<!-- {% load staticfiles%} -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About Me Profile card || Learning Robo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  </head>
  <body>

    <div class = "about-wrapper">
      <div class = "about-left">
        <div class = "about-left-content">
          <div>
            <div class = "shadow">
              <div class = "about-img">
                <img src = "{% static 'img/harfho1.jpg' %}" alt = "about image">
              </div>
            </div>

 <div class = "about-right">
      <div class = "about-btns">
                <h2><a href="https://github.com/Harfho" target="_blank"> <button type = "button" class = "btn btn-white">HARFHO</button></a></h2>
          </div><br>
        <h1>Hello<span>!</span></h1>

        <div class = "about-para">
          <p>I'm a Computer scientist, Lover of any things techs / Digital. @Harfho is versatile, creative,love learning, and enjoy working with others.</p>
        </div>
      </div>

          <ul class = "icons">
            <li><i class = "fab fa-facebook-f"></i><a href="https://www.facebook.com/harfho" target="_blank"> <button type = "button" class = "btn btn-success">Facebook</button></a></li><br>
            <li><i class = "fab fa-twitter"></i><a href="https://www.twitter.com/harfho" target="_blank"> <button type = "button" class = "btn btn-success">Twitter</button</a></li><br>
            <li><i class = "fab fa-linkedin"></i><a href="https://www.linkedin.com/in/harfho" target="_blank"> <button type = "button" class = "btn btn-success">Linkedin</button></a></li><br>
            <li><i class = "fab fa-instagram"></i><a href="https://www.instagram.com/harfho" target="_blank"> <button type = "button" class = "btn btn-success">Instagram</button></a></li><br>
          </ul>
        </div>

      </div>
    </div>
  </body>
</html>

{% endblock body %}
