{% extends "layout.html" %}
<!-- {% load staticfiles%} -->
{% block body %}

<div class ="row">

        <div class="col-md|lg|sm-10 offset-md-3">
            <div class="col-lg-8">
                <h3>Articles</h3>
                <hr>
                </div>
        </div>
</div>
<div class ="row">
    <div class="col-md-10 offset-md-3">
        <div class="col-lg-8">
            <form method="GET" action="">{% csrf_token %}
                <input type="text" name = "keyword" class="input-sm" maxlength="100" placeholder="Find articles...">
              <button type="submit" class="btn btn-primary">Find</button>
            </form>
            </form>
      </div>
    </div>

</div>


{% if articles %}

{% for article in articles %}
<br/>
    <div class="col-md|lg|sm-10 offset-md-3">

    <!-- Post Content Column -->
    <div class="col-lg-8">

      
        <br/><hr/>
      <!-- Author -->
      <p class="lead ">
      <img class="rounded-circle "  src="{% if user.is_authenticated %}
                                            {{ article.author.profile.image.url }}
                                          
                                          {% elif not  user.is_authenticated %}
                                                {{ article.author.profile.image.url }}
                                        
                                            {% else %}
                                                    {% static 'img/avatar_default.png' %}

                                          {% endif %}
                                        "

                                    width="50" height="50"/> Posted by {{article.author.username}} -
    
      <!-- Date/Time -->
    {{article.created_date|date:"F d Y"}}
  </p>
  <!-- Title -->
      <a href="{% url 'article:detail' article.id %}"><h2 class="mt-4">{{article.title}}</h2></a>
      <hr>
      <!-- Preview Image -->
      {% if article.article_image %}
      <a href="{% url 'article:detail' article.id %}"><img class="img-fluid rounded" src="{{article.article_image.url}}" alt="{{article.title}}" width="200" height="200" style="float: right"></a>
      {% endif %}


       <hr>

      <!-- Post Content -->
      <p class="lead" align="left">
          {{article.content|safe|truncatewords:50}}
      </p>

      <a style ="float : right;" href="{% url 'article:detail' article.id %}" class ="btn btn-primary">Read more..</a>

      </div>
      </div>


{% endfor %}


{% else %}

<div class ="row">

    <div class="col-md|lg|sm-10 offset-md-3">
        <div class="col-lg-8">
<div class = "alert alert-danger">
   Article not found


<div align="right"> <a href="{% url 'article:dashboard'  %}" class="btn btn-info">Add Articles</a>
</div>
</div>
</div>
</div>
</div>

{% endif %}
<!-- <div class="pagination">
  <span class="step-links">
    {% if object_list.has_previous %}
      <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.keyword %}&keyword={{ request.GET.keyword }}{% endif %}">previous</a>
    {% endif %}
    <span class="current">
      Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}
    </span>

    {% if object_list.has_next %}
      <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.keyword %}&keyword={{ request.GET.keyword }}{% endif %}">next</a>
    {% endif %}
  </span>
</div>
 -->

<br /><br />
    <ul class="pagination">
      {% if object_list.has_previous %}
        <li><a  class="btn btn-outline-info" href="?page={{ object_list.previous_page_number }}{% if request.GET.keyword %}&keyword={{ request.GET.keyword }}{% endif %}">&laquo;</a></li>
      {% else %}
        <li class="disabled btn btn-outline-info"><span>&laquo;</span></li>
      {% endif %}

      {% for i in object_list.paginator.page_range %}
        {% if object_list.number == i %}
          <li class="active btn btn-outline-info "><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          <li><a class="btn btn-outline-info" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}

      {% if object_list.has_next %}
        <li><a class="btn btn-outline-info" href="?page={{ object_list.next_page_number }}{% if request.GET.keyword %}&keyword={{ request.GET.keyword }}{% endif %}">Next</a></li>
      {% else %}
        <li class="disabled btn btn-outline-info"><span>Next</span></li>
      {% endif %}
  </ul>
</div>

<!-- show this if user is not login -->

      {%  if not request.user.is_authenticated %}
      <hr>
        <marquee bgcolor='oldlace'><p class="lead" align="left" ><a href="{% url 'user:login' %}" class="btn btn-link">Sign-in</a> or
          <a href="{% url 'user:register' %}" class="btn btn-link">Register</a> to Add/post Articles</p></marquee>

      {% endif %}
{% endblock body %}
