{% extends "layout.html" %}

{% block body %}
<div class="row">
  <div class="col-md-8 offset-md-2">

    <!-- Post Content Column -->
    <div class="col-lg-10">

      <!-- Title -->
      <h3 class="mt-2">{{article.title}}</h3>

      <!-- Author -->
      <p class="lead">
        
        Published by {{article.author.username}}
      </p>

      <hr>

      <!-- Date/Time -->
      <p>{{article.created_date}}</p>

      <!-- Preview Image -->
      {% if article.article_image %}
      <img class="img-fluid rounded" src="{{article.article_image.url}}" alt="">
      {% endif %}
     

      <hr>

      <!-- Post Content -->
      <p class="lead">
          {{article.content|safe}}

      <div align="center">
      <a style ="float : right;" href="{% url 'article:dashboard' %}" class ="btn btn-danger">Add more Article</a></div>
      
      </p>
    </div> </div>


      <div class="col-md offset-md">
      
      <br><br><hr>

      <h4>COMMENT</h4>
      <hr>
      {% if comments %}
      {% for comment in comments  %}
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">{{comment.comment_author}}</h5>
            {{comment.comment_date}} <br>
            {{comment.comment_content}}
          </div>
        </div>
      {% endfor %}
      
      
      {% else %}
      <div class ="alert alert-danger">
        Be the first to comment on this article
      </div>
      {% endif %}
      <br><hr color="green">
      <div class="card my-4 col-md offset-md">
          <h5 class="card-header">Add comment:</h5>
          <div class="card-body">
            <form method = "post" action = "{% url 'article:comment' article.id %}">
              {% csrf_token %}
              <div class="form-group">
                  <label for="formGroupExampleInput">Name</label>
                  <input name = "comment_author" type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Your name">
                </div>
              <div class="form-group">
                  <label for="formGroupExampleInput">Comment</label>
                <textarea name = "comment_content" class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-danger">Summit</button>
            </form>
          </div></div></div></div>
      

{% endblock body %}
