
    
  
       <footer class="footer-basic-centered">



      
      <p class="footer-company-name">HARFHO BLOG</p>

      <p class="footer-links">

        <a href="/">Home</a>
        ---
        <a href="/articles">Blog</a>
        ---
        <!-- <a href="#">Pricing</a> -->
        <!-- --- -->
        <a href="/about">About</a>
        ---
        <!-- <a href="#">Faq</a> -->
        <!-- --- -->
        <a href="/contact">Contact</a>
      </p>

      <p class="footer-company-name">&copy; 2019</p>



    </footer>
